#bandeau {
  background-color: #0c9707;
};


header {
  background-color: #977d07;
  font-family: "Oleo Script";
  font-style: normal;
};







.cat {
  transition-duration: 0.5s;
};
.cat:hover {
 
  transform:scale(1.1);
};
